* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/*common styles*/
.brand {
    color: #FF900E;
}

.text-primary {
    color: #131313;
}

.text-secondary {
    color: #424242;
}

.text-tertiary {
    color: #727272;
}

.text-white {
    color: white;
}

.title {
    font-size: 2.8em;
    color: #131313;
}

.normal-text {
    font-weight: 500;
}

.btn {
    padding: 20px 24px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/*header styles*/
header {
    width: 100%;
    background-color: #ff900e1a;
    padding-bottom: 3em;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3em;
    padding: 3em 1.5em 0;
}

nav ul {
    width: 30%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li a {
    text-decoration: none;
    color: #424242;
}

/* architects styles */
.architects {
    display: flex;
    justify-content: center;
    padding: 6em 0 3em 0;
}

.architects .architects-content {
    width: 50%;
    text-align: center;
}

.architects-title {
    font-weight: 700;
    font-size: 64px;
}

.architects-content .description {
    padding: 2em 0;
}

.banner-img {
    padding: 1.5em;
    text-align: center;
}


.banner-img img,
.article-1_images img,
.article-2_images img {
    width: 100%;
}

/* main part styles */
.feature-list {
    margin-top: 7em;
}

.feature-list .article-1,
.feature-list .article-2 {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
}

.feature-list .article-1 {
    justify-content: space-around;
}

.article-1_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.article-1_text,
.article-2_text {
    width: 38%;
}

.article-1_text .description {
    padding: 2em 0;
}

.feature-list .article-2 {
    margin-top: 6em;
    position: relative;
}

.top-text .text-title {
    padding-bottom: 1em;
}

.top-text .text-title .title {
    border-left: 5px solid #FF900E;
    padding-left: .8em;
}

.detail-text {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 2em;
    margin: 1em 0;
}

.detail-text h4 {
    padding-bottom: .5em;
}

.detail-text p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.experience {
    width: 21em;
    background-color: #FF900E;
    padding: 45px;
    text-align: center;
    position: absolute;
    border-radius: 8px;
    bottom: 3.5em;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
}

.experience h1 {
    font-weight: 700;
    font-size: 65px;
}

.achievements,
.sponsor {
    padding-top: 8em;
}

.achievements-text,
.sponsor-text {
    max-width: 100%;
    padding-bottom: 4em;
}

.achievements-text .title,
.sponsor .title {
    padding-bottom: .3em;
}

.works {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;

}

.work {
    max-width: 100%;
    text-align: center;
    padding: 2em 1.5em;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.work:hover .effect {
    transform: rotate(10deg) translate(80px);
    transition: transform .5s ease;
}

.work .effect h1 {
    font-size: 3em;
    color: #424242;
}

.sponsor-head {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sponsor-logo {
    max-width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;

}

footer {
    padding: 6em 0;
}

.footer-container {
    max-width: 100%;
    background-color: #FFF4E7;
    padding: 2.5em;
    text-align: center;
}

.footer-container p {
    font-size: 20px;
}




/* -----------------------
 media query styles 
 ------------------------- */

/* mobile device */
@media only screen and (max-width: 576px) {
    .btn {
        padding: 15px 18px;
        font-size: 16px;
    }

    header nav {
        flex-direction: column;
        gap: 5px;
    }

    nav ul {
        width: 100%;
        gap: 5px;
        flex-direction: column;
    }

    .architects .architects-content {
        width: 80%;
    }

    .architects-title {
        font-size: 32px;
    }

    .feature-list .article-1 {
        flex-direction: column-reverse;
    }

    .feature-list .article-2 {
        flex-direction: column;
    }

    .article-1_text,
    .article-2_text {
        width: 100%;
    }

    .article-1_text {
        padding-bottom: 1.5em;
        text-align: center;
    }

    .article-1_images,
    .works {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .experience {
        width: 80%;
        position: static;
        transform: translate(0, 0);
        margin-top: 1em;
    }

    .achievements-text,
    .sponsor-text {
        width: 100%;
        padding-bottom: 4em;
        text-align: center;
    }

    .sponsor-logo {
        grid-template-columns: repeat(2, 1fr);
    }

    .works {
        padding: 0 1.5em;
    }
}

/*tablet device*/
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .btn {
        padding: 18px 22px;
        font-size: 18px;
    }

    nav ul {
        width: 50%;
    }

    .architects .architects-content {
        width: 80%;
    }

    .architects-title {
        font-size: 44px;
    }

    .feature-list .article-1 {
        flex-direction: column-reverse;
    }

    .feature-list .article-2 {
        flex-direction: column;
    }

    .article-1_text,
    .article-2_text {
        width: 100%;
    }

    .article-1_text {
        padding-bottom: 1.5em;
    }

    .experience {
        width: 85%;
        position: static;
        transform: translate(0, 0);
        margin-top: 1em;
    }

    .achievements-text,
    .sponsor-text {
        max-width: 100%;
        text-align: center;
        padding: 0 7em;
        padding-bottom: 4em;
    }

    .sponsor-logo {
        grid-template-columns: repeat(3, 1fr);
    }

    .works {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1.5em;
    }

}